<div class="container">
    <div class="row">
        <div class="flex flex-center">
            <h2 class="text-color text-title">Atuação Global</h2>
            <span class="text-sub-title">Países onde atuamos</span>
        </div>
        <div class="col s12" style="padding-top: 3rem;">
            <div class="col 6 m4 l3">
                <a href="#"><button class="btn-a">Quero saber mais</button></a>
            </div>
            <div class="col s6 m4 l3">  
                <a href="#"><button class="waves-effect waves-light btn-a">Contato</button></a>
            </div>
        </div>
        <div class="col s12">
            <div class="arrow flex flex-center">
                <a href="#feedbacks" ><img src="<%= image_url 'arrow.png' %>"></a>
            </div>
        </div>
    </div>
</div>