<div class="container">
    <div class="row">
        <div class="flex flex-center">
                <h2 class="text-color text-title"><%= t('testimonials_feedbacks') %></h2>
                <span class="text-sub-title"><%= t('feedback_feedbacks') %></span>
        </div>
        <div class="col s12 m4 l3" style="padding: 15px; text-align: center;">  
            <a href="#contact"><button class="btn-style btn-b"><%= t('contact') %></button></a>
        </div>
        <div class="col s12">
            <div class="arrow">
                <a href="#values_of_service" ><img src="<%= image_url 'arrow.png' %>"></a>
            </div>
        </div>
    </div>
</div>