<div class="container">
    <div class="row">
        <div class="flex flex-start">
            <h2 class="text-color text-title">Na<br> Prática</h2>
        </div>
        <div class="col m8 text-content">
                    Partimos de uma análise profunda da empressa, considerando três campos de principais:
        </div>

        <div class="col s12">
            <div class="col s4 text-content">
                        Fluxo de processos e fornecedores até o <br> 
                        cliente final: diminuindo os atritos em processos <br>
                        relcaionados ao serviço prestado ao cliente do <br>
                        início ao fim, aprimoramento e geração de valor.
            </div>
            <div class="col s4 text-content">
                        Capital e cultura:cultivando os valores e <br> 
                        princípios direcionadores de ação na pŕatica <br>
                        diária, de forma a cultivar autonomia e resultados <br>
                        em todos os níveis da empresa.
            </div>
            <div class="col s4 text-content">
                        Comunidade de trabalho: construindo <br> 
                        sentido na realização do trabalho, compromisso <br>
                        com as entregas, vinculandoás biografias <br>
                        dos profissionais ao momento da empresa e <br>
                        gerando forte conexão com o trabalho <br>
                        e entre membros das equipes. </br>
            </div>
        </div>

        <div class="col s12 text-content">
                        Após análise e diagnóstico conjunto com a diretoria do negócio, partimos para o apoio com consultoria na  implantação das <br>
                        mudanças necessárias na prática garatindo conjuntamente o sucesso e o resultado das melhorias.
        </div>

        <div class="col s12 m4 l3" style="padding: 15px; text-align: center;">  
            <a href="#"><button class="btn-style btn-b">Contato</button></a>
        </div>
        <div class="col s12">
            <div class="arrow flex flex-center">
                <a href="#acting" ><img src="<%= image_url 'arrow.png' %>"></a>
            </div>
        </div>
    </div>
</div>