<div class="container">
    <div class="row">
        <div class="flex flex-start">
            <h2 class="text-color text-title"><%= t('in') %><br> <%= t('practice') %></h2>
        </div>
        <div class="col m8 text-content">
                    <p>Partimos de uma análise profunda da empressa, <strong>considerando três campos de principais</strong>:</p><br>
        </div>

        <div class="col s12">
            <div class="container-in-practice">
                <div id="in-practice-square-01-bg">
                    <p class="text-content" style="padding: 15px 10px 15px 40px; font-size: 0.9rem;">
                        <strong>
                            Fluxo de processos e fornecedores até o cliente final: diminuindo os atritos em processos
                            relacionados ao serviço prestado ao cliente do
                            início ao fim, aprimoramento e geração de valor.
                        </strong>
                    </p>
                </div>
                <div id="in-practice-square-02-bg">
                    <p class="text-content" style="padding: 15px 10px 15px 40px; font-size: 0.9rem;">
                        <strong>
                            Capital e cultura: cultivando os valores e
                            princípios direcionadores de ação na pŕatica
                            diária, de forma a cultivar autonomia e resultados
                            em todos os níveis da empresa.
                        </strong>
                    </p>
                </div>      
                <div id="in-practice-square-03-bg">
                    <p class="text-content" style="padding: 15px 10px 15px 40px; font-size: 0.9rem;">
                        <strong>
                            Comunidade de trabalho construindo sentido na realização do trabalho, compromisso
                            com as entregas, vinculandoás biografias
                            dos profissionais ao momento da empresa e
                            gerando forte conexão com o trabalho
                            e entre membros das equipes.
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 text-content">
                        <p>Após análise e diagnóstico conjunto com a diretoria do negócio, partimos para o <strong>apoio com consultoria na  implantação</strong> das <br>
                        mudanças necessárias na prática <strong>garatindo conjuntamente o sucesso e o resultado das melhorias</strong>.</p>
        </div>

        <div class="col s12" style="padding: 15px; text-align: center;">  
            <a href="#contact"><button class="btn-style btn-b">Contato</button></a>
        </div>
        <div class="col s12">
            <div class="arrow" style="bottom: -1.8rem;">
                <a href="#acting" ><img src="<%= image_url 'arrow.png' %>"></a>
            </div>
        </div>
    </div>
</div>