<div class="container">
    <div class="row">
        <div class="flex flex-center">
            <span class="text-sub-title">O Metodo</span>
            <h2 class="text-color text-title">Vincit  Omnia</h2>
        </div>
        <div class="flex flex-align-items-center" style="flex-wrap: wrap">
            <div class="col s12 m6 text-content">
                    Projetamos ao longo dos anos um método: <strong>Vincit Omnia</strong> que, traduzido
                do latim, significa: Conquiste Tudo. Nosso método tem como base o
                <strong>estudo aprofundado do comportamento humano</strong>, arquétipos, vertentes
                de escolas filosóficas dos últimos <strong>3000 anos</strong> e embasamento em
                pesquisas de <strong>tendências comportamentais sociais dos dias atuais.</strong></br></br>

                    Acreditamos que o <strong>autoconhecimento</strong> e <strong>objetivos pessoais</strong> devem se
                entrelaçar a um propósito empresarial maior, vinculando as necessidades
                da empresa e de seus colaboradores, <strong>permitindo o crescimento efetivo e
                lucrativo para todos os envolvidos</strong>.</br></br>

                    Fortalecemos e <strong>garantimos as melhorias operacionais e resolução de
                problemas</strong>, através da implantação de um modelo de gestão baseado em
                <strong>times autônomos de alto desempenho</strong>, que gerenciam suas rotinas e
                resultados, através de indicadores, processos, treinamentos internos e
                auditorias que <strong>garantam que a operação seja realizada com maestria por
                todos os profissionais em cada setor ou área do negócio.</strong>
            </div>
            <div class="col s12 m6">
                <img class="responsive-img" src="<%= image_url 'method/method-logo.png' %>">
            </div>
        </div>
        <div class="col s12" style="padding-top: 2.5rem;">
            <div class="col s12 m4 l3" style="padding: 15px; text-align:center;">
                <a href="#"><button class="btn-style btn-a">Quero saber mais</button></a>
            </div>
            <div class="col s12 m4 l3" style="padding: 15px; text-align: center;">  
                <a href="#"><button class="btn-style btn-b">Contato</button></a>
            </div>
        </div>
    </div>
</div>