<div class="container">
    <div class="row">
        <div class="flex flex-start">
            <h2 class="text-color text-title">O Treinamento</h2>
            <span class="text-sub-title">Alto Desempenho A Priori</span>
        </div>
        <div class="col m6 text-content">
                    Buscando melhor desempenho e consistência profissional, estruturamos
                    um treinamento baseado no mais atual estudo das leis Universais.
                    Sua equipe será levada a reconstruir seus conceitos e ideais internos
                    em uma jornada única de autoconhecimento.
                    Ao final do treinamento, a equipe é conduzida a criar projetos práticos
                    para melhorar, inovar e aumentar a lucratividade do negócio.
        </div>
        <div class="col s12" style="padding-top: 3rem;">
            <div class="col 6 m4 l3">
                <a href="#"><button class="btn-a">Quero saber mais</button></a>
            </div>
            <div class="col s6 m4 l3">  
                <a href="#"><button class="waves-effect waves-light btn-a">Contato</button></a>
            </div>s
        </div>
    </div>
</div>