<div class="container">
    <div class="row">
        <div class="flex flex-start">
            <h2 class="text-color text-title">O Treinamento</h2>
            <span class="text-sub-title">Alto Desempenho A Priori</span>
        </div>
        <div class="col m6 text-content">
                    Buscando melhor desempenho e consistência profissional, estruturamos
                    um treinamento baseado no mais atual estudo das leis Universais.
                    Sua equipe será levada a <strong>reconstruir seus conceitos e ideais internos</strong>
                    em uma jornada única de autoconhecimento.
                    Ao final do treinamento, <strong>a equipe é conduzida</strong> a <strong>criar projetos práticos</strong>
                    para <strong>melhorar</strong>, <strong>inovar</strong> e <strong>aumentar a lucratividade do negócio.</strong>
        </div>
        <div class="col s12" style="padding-top: 2.5rem;">
            <div class="col s12 m4 l3" style="padding: 15px; text-align:center;">
                <a href="#"><button class="btn-style btn-a">Quero saber mais</button></a>
            </div>
            <div class="col s12 m4 l3" style="padding: 15px; text-align: center;">  
                <a href="#"><button class="btn-style btn-b">Contato</button></a>
            </div>s
        </div>
        <div class="col s12">
            <div class="arrow flex flex-center">
                <a href="#solutions" ><img src="<%= image_url 'arrow.png' %>"></a>
            </div>
        </div>
    </div>
</div>