<div class="container">
    <div class="row">
        <div class="flex flex-align-items-baseline">
            <div class="col s6">
                <div class="col s12">
                    <h2 class="text-color text-title" style="font-size: 3.5rem;">Nossos</h2>
                    <h2 class="text-color text-title" style="font-size: 3.5rem; margin-top: -15px;">Valores</h2>
                </div>
                <div class="col s12" style="padding: 15px; text-align: center;">  
                    <a href="#"><button class="btn-style btn-b">Contato</button></a>
                </div>
            </div>
            <div class="col s6">
                <div class="col s12" style="margin-bottom: 30px; text-align: center;">
                    <p class="text-content">
                        Os valores de nossa metodologia <strong>Vincit Omnia</strong> consistem em: 
                    </p>
                </div>
                <div class="col s12">
                    <div id="values-bg" style="padding: 20px; margin-bottom: 50px;">
                        <p class="text-content" style="text-align: center;">
                            <strong>Priorizar e manter as raízes e influência que foram passados pelas gerações;</strong>
                        </p>
                    </div>
                </div>
                <div class="col s12">
                    <div id="values-bg" style="padding: 20px; margin-bottom: 50px;">
                        <p class="text-content" style="text-align: center;">
                            <strong>Atrelar propósito pessoal ao trabalho;</strong>
                        </p>
                    </div>
                </div>
                <div class="col s12">
                    <div id="values-bg" style="padding: 20px;">
                        <p class="text-content" style="text-align: center;">
                            <strong>Ética com ação energética.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>