<div class="container">
    <div class="flex flex-center">
        <img style="text-align: center;" src="<%= image_url 'logo/logo.png' %>">
    </div>
    <div style="margin-bottom: 10rem;">
        <p class="text-color"><%= t('text_presentation') %></p>
    </div>
    <div class="arrow flex flex-center">
        <a href="#method" ><img src="<%= image_url 'arrow.png' %>"></a>
    </div>
</div>