<div class="container">
    <div class="flex flex-center">
        <img class="responsive-img" style="text-align: center;" src="<%= image_url 'logo/logo.png' %>">
    </div>
    <div style="margin-bottom: 10rem;">
        <p class="text-color"><%= t('text_presentation_wwa') %></p>
        <%= raw t('consultancy_wwa') %>
    </div>
    <div class="arrow">
        <a href="#method" ><img src="<%= image_url 'arrow.png' %>"></a>
    </div>
</div>