body {
    background: #03060de8;
    font-family: 'Montserrat';
}

.text>p {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    /* Torna o texto transparente para exibir o gradiente de fundo */
    background-clip: text;
    /* Define a área de preenchimento do gradiente para o texto */
    background-image: linear-gradient(to right, #dfeaf0, #7f9fb1);
    /* Define o gradiente de fundo */
    -webkit-background-clip: text;
    /* Suporte para navegadores WebKit (Safari, Chrome) */
    text-stroke: 2px #7f9fb13d;
    /* Define o traçado exterior */
    -webkit-text-stroke: 2px #7f9fb13d;
    /* Suporte para navegadores WebKit (Safari, Chrome) */
}

.uppercase {
    text-transform: uppercase;
}


/* FLEX-BOX */

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-space-evenly {
    justify-content: space-evenly;
}


/* WHO ARE WE */

#who-are-we-bg {
    background: url(../assets/who_are_me/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow {
    padding: 30px 0px 20px 0px
}

.arrow>img {
    text-align: center;
}


/* METHOD */

#method-bg {
    background: url(../assets/method/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}