html {
    line-height: 1.5;
    font-family: 'Montserrat';
    font-weight: normal;
}

body {
    background: #03060de8;
}

strong {
    font-weight: 700 !important;
}

.line {
    position: relative;
    display: flex;
}

.line::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #dfeaf0, transparent);
}

.text-color {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    /* Torna o texto transparente para exibir o gradiente de fundo */
    background-clip: text;
    /* Define a área de preenchimento do gradiente para o texto */
    background-image: linear-gradient(to right, #dfeaf0, #7f9fb1);
    /* Define o gradiente de fundo */
    -webkit-background-clip: text;
}

.text-title {
    font-size: 4rem;
    text-shadow: 0px 0px 200px rgba(255, 255, 255, 0.7);
}

.text-sub-title {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    color: #7f9fb1;
    letter-spacing: 8px;
}

.text-content {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    color: #ffffff;
}

.uppercase {
    text-transform: uppercase;
}

.btn-style {
    border-radius: 20px 0px 20px 0px;
    width: 190px;
    height: 40px;
    color: #ffffff;
    transition: all ease-in-out .3s;
}

.btn-style:hover {
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    transform: scale(1.1);
    transition: all ease-in-out .4s;
}

.btn-a {
    background-color: #2d4451;
    border: 1px solid #7f9fb1;
}

.btn-b {
    background: linear-gradient(to right, #f1a768 0.1%, #dd5f5e 20%, #dd5f5e 50%, #f1a768, #f1a768, #dd5f5e);
    border: 1px solid #f1a768;
}


/* FLEX-BOX */

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-align-items-center {
    align-items: center;
}

.flex-align-items-baseline {
    align-items: baseline;
}


/* WHO ARE WE */

#who-are-we-bg {
    background: url(../assets/who_are_me/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.arrow>img {
    text-align: center;
}


/* METHOD */

#method-bg {
    background: url(../assets/method/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* TRAINING */

#training-bg {
    background: url(../assets/training/background01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* SOLUTIONS */

#solutions-bg {
    background: url(../assets/solutions/background02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* IN_PRACTICE */

#in-practice-square-01-bg {
    background: url(../assets/in_practice/in_practice_background_01.png);
    background-size: 100%;
    width: 410px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

#in-practice-square-02-bg {
    background: url(../assets/in_practice/in_practice_background_02.png);
    background-size: 100%;
    width: 410px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

#in-practice-square-03-bg {
    background: url(../assets/in_practice/in_practice_background_03.png);
    background-size: 100%;
    width: 410px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    margin: 10px;
    float: inline-end;
}

#in-practice-bg {
    background: url(../assets/in_practice/background03.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* ACTING */

#acting-bg {
    background: url(../assets/acting/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* FEEDBACKS */

#feedbacks-bg {
    background: url(../assets/feedbacks/background05.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.feedbacks-image-left {
    padding-right: 5px;
    transition: all ease-in-out 0.3s;
}

.feedbacks-image-center {
    padding-top: 40px;
    transition: all ease-in-out 0.3s;
}

.feedbacks-image-right {
    padding-left: 5px;
    transition: all ease-in-out 0.3s;
}

.feedbacks-image-left:hover,
.feedbacks-image-center:hover,
.feedbacks-image-right:hover {
    transition: all ease-in-out 0.5s;
    transform: scale(1.1);
}


/* VALUES_OF_SERVICE */

#values-of-service-bg {
    background: url(../assets/values_of_service/background06.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* CONTACT */

#contact-bg {
    background: url(../assets/contact/background_black.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: none;
}

#contact-01-bg {
    background: url(../assets/contact/01_contact.png);
    background-size: 100%;
    width: 310px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

#contact-02-bg {
    background: url(../assets/contact/02_contact.png);
    background-size: 100%;
    width: 310px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

#contact-03-bg {
    background: url(../assets/contact/03_contact.png);
    background-size: 100%;
    width: 310px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

#contact-04-bg {
    background: url(../assets/contact/04_contact.png);
    background-size: 100%;
    width: 310px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* IMAGE */

.container-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* RESPONSIVIDADE MENU */

@media (max-width: 1500px) {
    div.navbar-fixed {
        display: none !important;
    }
}


/* RESPONSIVIDADE IMAGE FEEDBACKS */

@media (max-width: 1285px) {
    .feedbacks-image-left,
    .feedbacks-image-center,
    .feedbacks-image-right {
        padding: 15px;
    }
}


/* RESPONSIVIDADE TEXT  */

@media (max-width: 846px) {
    .text-title {
        font-size: 2rem !important;
    }
    .text-sub-title {
        font-size: 1rem !important;
    }
    .text-content {
        font-size: 0.8rem !important;
    }
}


/* RESPONSIVIDADE IN PRACTICE */

@media (max-width: 460px) {
    #in-practice-square-01-bg,
    #in-practice-square-02-bg,
    #in-practice-square-03-bg {
        height: calc(68vw - 10px);
    }
}


/* EFEITO BORDA VIEW VALUES OD SERVICE */

.border-effect {
    background-color: #2d44512a;
    position: relative;
    padding: 20px;
    margin-bottom: 50px;
    text-decoration: none;
    overflow: hidden;
    border: none;
}

.line-1 {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent -20.9%, #dfeaf0 20%, transparent, #dfeaf0 105%, transparent, #dfeaf0 155%);
    animation: move1 5s infinite linear;
}

.line-2 {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    background: linear-gradient(to right, transparent -20.9%, #dfeaf0 20%, transparent, #dfeaf0 105%, transparent, #dfeaf0 155%);
    animation: move2 5s infinite linear;
}

.line-3 {
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(to right, transparent -20.9%, #dfeaf0 20%, transparent, #dfeaf0 105%, transparent, #dfeaf0 155%);
    animation: move3 5s infinite linear;
}

.line-4 {
    position: absolute;
    width: 100%;
    height: 1px;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent -20.9%, #dfeaf0 20%, transparent, #dfeaf0 105%, transparent, #dfeaf0 155%);
    animation: move4 5s infinite linear;
}

@keyframes move1 {
    0% {
        height: 100%;
        bottom: 0;
    }
    54% {
        height: 0;
        bottom: 100%;
    }
    55% {
        height: 0;
        bottom: 0;
    }
    100% {
        height: 100%;
        bottom: 0;
    }
}

@keyframes move2 {
    0% {
        width: 0;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes move3 {
    0% {
        height: 100%;
        top: 0;
    }
    54% {
        height: 0;
        top: 100%;
    }
    55% {
        height: 0;
        top: 0;
    }
    100% {
        height: 100%;
        top: 0;
    }
}

@keyframes move4 {
    0% {
        width: 0;
        right: 0;
    }
    55% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 100%;
    }
}