body {
    background: #03060de8;
    font-family: 'Montserrat';
}

.text-color {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    /* Torna o texto transparente para exibir o gradiente de fundo */
    background-clip: text;
    /* Define a área de preenchimento do gradiente para o texto */
    background-image: linear-gradient(to right, #dfeaf0, #7f9fb1);
    /* Define o gradiente de fundo */
    -webkit-background-clip: text;
}

.text-title {
    font-size: 4rem;
    text-shadow: 0px 0px 200px rgba(255, 255, 255, 0.7);
}

.text-sub-title {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    color: #7f9fb1;
    letter-spacing: 8px;
}

.text-content {
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;
    color: #ffffff;
}

.uppercase {
    text-transform: uppercase;
}

.btn-style {
    border-radius: 20px 0px 20px 0px;
    width: 190px;
    height: 40px;
    color: #ffffff;
}

.btn-style:hover {
    cursor: pointer;
}

.btn-a {
    background-color: #2d4451;
    border: 1px solid #7f9fb1;
}

.btn-b {
    background: linear-gradient(to right, #f1a768 0.1%, #dd5f5e 20%, #dd5f5e 50%, #f1a768, #f1a768, #dd5f5e);
    border: 1px solid #f1a768;
}


/* FLEX-BOX */

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-align-items-center {
    align-items: center;
}


/* WHO ARE WE */

#who-are-we-bg {
    background: url(../assets/who_are_me/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow {
    padding: 30px 0px 20px 0px
}

.arrow>img {
    text-align: center;
}


/* METHOD */

#method-bg {
    background: url(../assets/method/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* TRAINING */

#training-bg {
    background: url(../assets/training/background01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* SOLUTIONS */

#solutions-bg {
    background: url(../assets/solutions/background02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* IN_PRACTICE */

#in-practice-bg {
    background: url(../assets/in_practice/background03.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* ACTING */

#acting-bg {
    background: url(../assets/acting/background04.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* FEEDBACKS */

#feedbacks-bg {
    background: url(../assets/feedbacks/background05.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* VALUES_OF_SERVICE */

#values-of-service-bg {
    background: url(../assets/values_of_service/background06.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* CONTACT */

#contact-bg {
    background: url(../assets/contact/background_black.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}